.cmake
.vscode
jrtplib/src/CMakeFiles/*
jrtplib/src/CMakeFiles/
CMakeFiles/*
CMakeFiles/
*.o
myRtspClient/third_party/JTHREAD/build/src/CMakeFiles
jrtplib/*
liblibavcodec.a
libmyRtspClient.so
myRtspClient_autogen/
libavcodec_autogen/
test_packet_recv.h264
orwell_monitor
CMakeFiles/
libmyRtspClient.a
orwell_monitor
orwell
testapp/DesktopApp/desktop/lib/react-native_autogen/
testapp/DesktopApp/desktop/lib/jrtplib/src/jrtplib-static_autogen
testapp/DesktopApp/desktop/lib/orwell_autogen/
testapp/DesktopApp/desktop/lib/jrtplib/src/jrtplib-shared_autogen/
testapp/DesktopSampleApp/desktop/lib/
orwelljs/node_modules
orwelljs/desktop/CMakeFiles
orwelljs/desktop/bin/*
orwell_autogen/
CMakeCache.txt
cmake_install.cmake
lib*
orwellJS/node_modules/*
orwellJS/node_modules/
